/* ^! Look into this thing > */

/* https://css-tricks.com/practical-css-scroll-snapping/ */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

:root {
  --html-font-size: 62.25%;
  /* --keyboard-width: ; */
  --game-container-width: 80vw;
  --keyboard-height: calc();
  --keyboard-width: 35vw;
  --doc-height: 100%;

  /* - colors: */
  --white: #fff;
  --green: #8dff94;
  --yellow: #f4ff61;
  --purple: #9a93ff;
  --blue: #0080ff;
  --pink: #ea00ff;
  --dark-blue: #0a0e27;
  --light-grey: #6a6a6a;
  --light-grey-char: #444;
  --light-grey-key: #4b4b4b;
  --dark-grey-key-active: #363636;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  touch-action: manipulation;
}

html {
  font-size: var(--html-font-size);

  /* height: var(--doc-heigh); */
  /* height: 100%; */

  overflow: hidden;
}
body {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--purple);

  /* o | need to forse the page to snap into place */
  /* scroll-snap-align: top; */

  /* touch-action: none; */
}

.header {
  display: flex;
  /* align-items: center; */
  justify-content: start;
  height: 5rem;
  z-index: 5;

  background-color: var(--purple);
  /* box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1); */
}

/* ~ need to make a class just for my logo */
.sharapaio {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 2.5rem;
  padding: 1.5rem 2.5rem;
  margin-left: 4rem;

  display: flex;
  /* justify-self: center; */
  justify-items: center;
  align-items: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 4rem;
  padding: 1rem 2rem;

  color: #fff;
  background-color: var(--black);
}

.game-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  /* > -------------------------- < */
  width: 100vw;
  height: 100%;
  /* height: 90vh; */
  align-items: center;

  /* justify-content: space-between; */
  /* justify-content: center; */

  /* position: relative; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* max-height: 100% - header-height; */
}

/* .container { */
/* max-width: 120rem; */
/* margin: 0 auto; */
/* } */

.board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* align-content: flex-end; */
  /* justify-content: flex-end; */
}

.rows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* margin-top: 5rem; */
  margin-top: 3rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.row--false {
  animation-name: shake;
  animation-duration: 250ms;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.char {
  color: #fff;
  background-color: #444;
  font-size: 4rem;
  font-family: inherit;

  border: 0.4rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  text-align: center;
  /* display: flex inline; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex: 1 1; */

  /* height: 6.4rem; */
  /* width: 6.4rem; */

  height: calc(var(--keyboard-width) / 10);
  width: calc(var(--keyboard-width) / 10);

  height: calc((var(--keyboard-width) / 670) * 64);
  width: calc((var(--keyboard-width) / 670) * 64);

  font-size: calc((var(--keyboard-width) / 670) * 40);

  pointer-events: none;
  caret-color: transparent;
  outline: none;

  /* transition: all ease-in-out 100ms; */

  /**
  * . prevent selection
  */
}

.char--none {
  text-align: center;
  color: var(--white) !important;
  background-color: var(--light-grey) !important;
}

.char--green {
  text-align: center;
  /* color: #555555 !important; */
  color: var(--light-grey-char) !important;
  /* background-color: #a8ffae !important; */
  background-color: var(--green) !important;
}

.char--yellow {
  text-align: center;
  color: var(--light-grey-char) !important;
  background-color: var(--yellow) !important;
}

.char--transition {
  text-align: center;
  border: 0.4rem solid rgba(0, 0, 0, 0.2);
  animation: ease-in-out 100ms ease forwards;
}

.char--rotate {
  animation-name: rotate;
  transition-delay: 250ms;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
/** 
* * Keyboard 
*/

.keyboard {
  /* o | - make dynamic padding  width relative to height (1:2 / 2:3 / ...)  */

  display: flex;
  /* gap: 0.5rem; */
  flex-direction: column;

  /* justify-content: flex-end; */
  /* align-items: center; */
  /* justify-self: center; */
  /* justify-self: flex-end; */
  /* justify-content: flex-end; */
  /* &&&& */

  /* --keyboard-width: 50vw; */
  width: var(--keyboard-width);
  margin-top: 14rem;

  /* prevent selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kb-row {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  margin-bottom: calc((var(--keyboard-width) / 670) * 5);
}

.key {
  /* font-size: 3rem; */
  font-weight: 600;
  color: var(--white);
  /* background-color: #555555; */
  background-color: var(--light-grey-key);

  border: 0.3rem solid rgba(0, 0, 0, 0.15);

  /* --keyboard-width: 50vw; */
  height: calc(var(--keyboard-width) / 8);
  /* font-size: calc(var(--keyboard-width) / 20); */
  font-size: calc((var(--keyboard-width) / 670) * 35);

  /*! kb-width / 670 = 1px */
  /* margin-right: calc(var(--keyboard-width) / 670); */
  margin-right: calc((var(--keyboard-width) / 670) * 5);

  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1; /* grow + shrink > 0% */
}

/*
 o | replace active with add+remove becuase animation shuld be activated on tap, not hold
*/
.key:active {
  background-color: var(--dark-grey-key-active);

  animation-name: ease;
  animation-duration: 100ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;

  /* animation-direction: forwards; */
}

.k--Enter {
  flex: 1.5 1.5;
  /* flex-grow: 2; */
  /* width: 10rem; */
  /* font-size: 4rem; */
}

.k--Backspace {
  flex: 1.5 1.5;
  /* font-size: 4rem; */
}

.spacer {
  flex: 0.5 0.5;
}

/* * LOGO */

.logo-container {
  /* padding: 1rem 0; */
  /* margin-top: 3rem; */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.logo {
  font-size: 8rem;
  font-weight: bold;
  font-family: inherit;
  user-select: none;
  height: 13.1rem;
  width: 13.1rem;

  color: #fff;
  background: #4b4b4b;
  border: 0.5rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  pointer-events: none;

  transition: all 300ms;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  z-index: 5;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* backdrop-filter: blur(3px); */
}

.hidden {
  display: none !important;
}

.version {
  font-family: 'neon_tubes_2regular';
  font-weight: normal;
  font-size: 3rem;

  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 4rem;

  color: rgb(225, 251, 255);
  /* color: rgb(235, 241, 255); */

  text-shadow: 0rem 0rem 2rem var(--black), 0rem 0rem 3rem var(--dark-blue),
    0rem 0rem 5rem var(--blue), 0rem 0rem 2rem var(--pink),
    0rem 0rem 2rem var(--blue);
}

/* * Modal Window */
/* o | make a reveal animation */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  background-color: #0000005e;
}
.modal-content {
  background-color: var(--black);
  color: var(--white);
  border-radius: 1rem;

  line-height: 1.2;
  margin-top: 14rem;
  padding: 3rem 3rem 3rem 3rem;
  /* position: absolute; */
  width: 70%;
  font-size: 1.3rem;
}
.modal-content p {
  margin: 1rem;
}
.modal-content h1 {
  color: coral;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.example:nth-of-type(1) letter {
  color: var(--green);
}
.example:nth-of-type(2) letter {
  color: var(--yellow);
}
.example:nth-of-type(3) letter {
  color: var(--light-grey-char);
}

/* * MEDIA QUERIES */

/* @media (min-width: 84em) {
}*/
/* - base size */
/* . 944px */
/* : 944/16 = 59 */

/* ------------------------------------ */
/* - BELOW 1344px (Smaller desktops) -  */
/* ------------------------------------ */
@media (max-width: 84em) {
  :root {
    /* --html-font-size: 70%; */
    --keyboard-width: 45vw;
  }
  .rows-container {
    margin-top: 6rem;
  }
  .keyboard {
    margin-top: 10rem;
  }
}

/* ------------------------------------ */
/* - BELOW 1200px (Landscape Tablets) - */
/* ------------------------------------ */
@media (max-width: 75em) {
  :root {
    --html-font-size: 70%;
    --keyboard-width: 60vw;
  }
  html,
  body {
    height: var(--doc-heigh);
  }
  .rows-container {
    margin-top: 2rem;
  }
  .keyboard {
    margin-top: 6rem;
  }
}

/* ------------------------- */
/* - BELOW 944px (Tablets) - */
/* ------------------------- */
@media (max-width: 59em) {
  :root {
    --html-font-size: 80%;
    --keyboard-width: 75vw;
  }
  html,
  body {
    height: var(--doc-heigh);
  }
  .rows-container {
    margin-top: 8rem;
  }
  .keyboard {
    margin-top: 16rem;
  }
}

/* ------------------------ */
/* - BELOW 544px (Phones) - */
/* ------------------------ */
/* . below 544px */
/* : 544/16 = 34 */
@media (max-width: 34em) {
  :root {
    --html-font-size: 62.25%;
    --keyboard-width: 96vw;

    /*! kb-width / 670 = 1px */

    /* font-size: calc((var(--keyboard-width) / 670) * 35); */
    /* margin-right: calc((var(--keyboard-width) / 670) * 5); */
  }
  html,
  body {
    height: var(--doc-height);
  }

  .game-container {
    height: var(--doc-height);
    /* justify-content: space-around; */
  }

  .rows-container {
    margin-top: 6rem;
  }

  .char {
    height: calc((var(--keyboard-width) / 670) * 110);
    width: calc((var(--keyboard-width) / 670) * 110);
    font-size: calc((var(--keyboard-width) / 670) * 55);
  }

  .keyboard {
    /* all: initial; */
    margin-top: 14rem;
    margin-bottom: 0rem;
  }

  .logo {
    /* font-size: 6rem; */
    /* margin-bottom: 2rem; */
  }

  .kb-row {
    /* gap: 0.4rem; */
  }

  .key {
    /* font-size: 2.5rem; */
    /* -webkit-text-stroke-width: 0.1rem; */
  }

  .k--Enter {
    /* width: 5.2rem; */
    /* font-size: 3rem; */
    /* font-weight: 200; */
  }

  .k--Backspace {
    /* font-size: 2.3rem; */
    /* font-weight: 200; */
  }
}

/*
rem and em do NOT depend on html font-size in media queries! 
Instead, 1rem = 1em = 16px 
*/

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
/* x */
/* @media (max-width: 84em) {} */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
/* x */
/* @media (max-width: 75em) {} */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
/* x */
/* @media (max-width: 59em) {} */

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
/* o */
/* @media (max-width: 44em) {} */

/**************************/
/* BELOW 544px (Phones) */
/**************************/
/* x */
/* @media (max-width: 34em) { */

/* &&& ================================================================= &&& */
